/*  Dark and light theme  */

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #1e1e1e;
    --base-color: #1e1e1ea0;
    --text-color: #f3f3f3;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #f3f3f3;
    --base-color: #f3f3f3a0;
    --text-color: #1e1e1e;
  }
}

:root {
  --container-color: oklch(from var(--background-color) calc(l * 1.2) c h);
  --hover-color: oklch(from var(--text-color) calc(l / 2) c h);
}

body {
  background: var(--background-color);
  margin: 0px;
  text-align: center;
  font-family: Tahoma;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
  color: var(--text-color);
  text-decoration: none;
  margin: 0px;
}

header {
  margin: 100px 0;
}

footer {
  margin-top: 500px;
}

.corner-1{
  position: fixed;
  top: 5px;
  left: 10px;
  font-size: 2em;
}

.corner-2{
  position: fixed;
  top: 5px;
  right: 10px;
  font-size: 2em;
}

.corner-3{
  position: fixed;
  bottom: 5px;
  left: 10px;
  font-size: 2em;
}

.corner-4{
  position: fixed;
  bottom: 5px;
  right: 10px;
  font-size: 2em;
}

.logo {
  height: 200px;
  border-radius: 100%;
  margin-bottom: 50px;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  width: 80%;
  margin: 0 auto;
}

.content-container {
  display: grid;
  gap: 20px;
  background: var(--container-color);
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 0 20px var(--base-color);
}

.content-container h2 {
  padding: 10px;
}

.button {
  padding: 10px;
  display: grid;
  gap: 10px;
  grid-template-rows: 35px 35px;
  box-sizing: border-box;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease;

  grid-template-areas:
  "title logo"
  "description logo";
}

.button img {
  top: 10px;
  right: 10px;
  height: 100%;
  border-radius: 20px;
  object-fit: contain;
}


/* Code */
pre {
  margin: 0 20px;
  border-radius: 10px;
  text-align: left;
  background: var(--container-color);
  color: #ffffff;
  font-family: Consolas, monospace;
  padding: 20px;
}

.keyword { color: #569cd6; }
.type { color: #4ec9b0; }
.string { color: #d69d85; }
.comment { color: #cacaca80; font-style: italic; }
.operator { color: #c586c0; }
.func { color: #ff7085; }